<div class="border" *ngIf="(this.card.isDeleted === false && this.card.isArchived === false); else block ">
    <div class="icons">
        <button mat-icon-button>
            <img src="../../../assets/add_alert_black_24dp.svg" alt="">
        </button>
    </div>
    <div class="icons">
        <button mat-icon-button>
            <img src="../../../assets/person_add_alt_black_24dp.svg" alt="">
        </button>
    </div>
    <div class="icons">
        <button mat-icon-button [matMenuTriggerFor]="changeColor">
            <img src="../../../assets/color_lens_black_24dp.svg" alt="">
        </button>
        <mat-menu #changeColor="matMenu" class="color-box">
            <div *ngFor="let noteColor of colors" class="themes">
                <button [style.background]="noteColor?.code" class="color" (click)="color(noteColor.code)"></button>
            </div>
        </mat-menu>
    </div>
    <div class="icons">
        <button mat-icon-button>
            <img src="../../../assets/insert_photo_black_24dp.svg" alt="">
        </button>
    </div>
    <div *ngIf="this.card.isArchived === false; else block ">
        <div class="icons">
            <button mat-icon-button (click)="archiveNote()">
                <img src="../../../assets/archive_black_24dp.svg" alt="">
            </button>
        </div>
        <ng-template #block>
            <div class="icons">
                <button mat-icon-button>
                    <img src="../../../assets/unarchive_black_24dp.svg" alt="">
                </button>
            </div>
        </ng-template>
    </div>
    <div class="icons">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <img src="../../../assets/more_vert_black_24dp.svg" alt="">
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item class="matMenu" (click)="trash()" >
                <span>Delete note</span>
            </button>
        </mat-menu>
    </div>
</div>
<ng-template #block>
    <div class="trash">
        <div class="icons">
            <button mat-icon-button (click)="deleteForever()">
                <img src="../../../assets/delete_forever_black_24dp.svg" alt="">
            </button>
        </div>
        <div class="icons">
            <button mat-icon-button>
                <img src="../../../assets/restore_from_trash_black_24dp.svg" alt="">
            </button>
        </div>
    </div>
</ng-template>
