<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="fundoo">
            <p id="f" style="color: blue;">F</p>
            <p id="u" style="color: burlywood;">u</p>
            <p id="n" style="color: darkorange;">n</p>
            <p id="d" style="color: blue;">d</p>
            <p id="o" style="color: skyblue;">o</p>
            <p id="o" style="color: coral;">o</p>
        </div>
        <div class="header">
            <p style="font-size: 25px;" id="sign">Find your email</p><br>
            <p style="font-size: 16px;" id="use">Enter your phone number or recovery email</p>
        </div>
        <div>
            <mat-form-field appearance="outline" class="user-name">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email or phone" formControlName="email">
                <mat-error>Enter email</mat-error>
            </mat-form-field>
        </div>
        <div class="footer">
            <div class="c2"><button>Next</button></div>
        </div>
    </form>
</div>
<div class="outer">
    <div class="outer1">Help</div>
    <div class="outer2">privacy</div>
    <div class="outer3">Terms</div>
</div>