<div fxLayout="column">
    <div class="main" [ngStyle.xs]="{'margin-left.px':350, 'margin-top.px':350}">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="fundoo" fxLayout="row" >
                <p id="f" style="color: blue;">F</p>
                <p id="u" style="color: burlywood;">u</p>
                <p id="n" style="color: darkorange;">n</p>
                <p id="d" style="color: blue;">d</p>
                <p id="o" style="color: skyblue;">o</p>
                <p id="o" style="color: coral;">o</p>
            </div>
            <div class="header" fxLayout="column">
                <p style="font-size: 25px;" id="sign">Find your email</p><br>
                <p style="font-size: 15px;" id="use">Enter your phone number or recovery email</p>
            </div>
            <div class="mail" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="Email Id" formControlName="userName" >
                    <mat-error>Enter email</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div class="c2" fxLayout="column">
            <button>Next</button>
        </div>
    </div>
    <div class="footer" fxLayout="row" fxHide.xs="true" fxHide.sm="true">
        <div class="outer1">Help</div>
        <div class="outer2">privacy</div>
        <div class="outer3">Terms</div>
    </div>
</div>