.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid silver;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    padding: 100px;
    background-color: #fff;
}

form mat-form-field{
    width: 400px;
    height: 50px;
    margin-left: -70px;
}

.fundoo{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -50px;
}

#sign{
text-align: center;
margin-top: 10px;
}

#use{
margin-left: -40px;
margin-top: -15px;
}

button{
    color: white;
    background-color: #1f52f9;
    width: 80px;
    height: 35px;
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid blue;
}

.footer{
    display: flex;
    margin-left: 850px;
    margin-top: 620px;
    font-size: 15px;
}

.outer1{
    margin-right: 12px;
}

.outer2{
    margin-right: 12px;
}