.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    margin-left: -10px;
}
.example-toolbar{
    background-color: #fff;
}
.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}
  
.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    width: 100%;
}
  
.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

#menu{
    background-color: #fff;
    border: none;
}

.menu{
    font-size:30px;
}

.shade{
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 5px 30px 30px 5px;
}

.shade:hover{
    background-color: orange;
}

.bulb{
    padding-left: 20px;
    padding-top: 5px;
}
.fundoo{
    padding-top: 10px;
    padding-left: 10px;
}
.search{
    width: 700px;
    height: 10px;
    margin-left: 90px;
    margin-bottom: 70px;
    padding-top: 18px;
    padding-bottom: 2px;
    font-size: 13px;
}

.search input{
    width: 600px;
}

.search_icon{
    position: absolute;
    margin-left: 93px;
    margin-top: -11px;
    opacity: 0.5;
}
.refresh{
    padding-left: 200px;
}
.view_stream{
    padding-left: 15px;
    margin-top: 8px;
}
.settings{
    padding-left: 15px;
}
.apps{
    margin-left: 140px;
    margin-top: 10px;
}

.person{
    margin-left: 10px;
    margin-top: 6px;
    background-color: #fff;
    border: #fff;
}

mat-nav-list img{
    padding-top: 5px;
}

mat-nav-list div{
    display: flex;
}

mat-nav-list p{
    padding-left: 40px;
    padding-top: 14px;
    padding-right: 10px;
}
