<div class="cards" *ngFor="let data of dataList | filter:filteredString">
  <mat-card [style.background]="data.color" [class.style]="visible" class="mat-card"> 
    
    <mat-card-header>
      <mat-card-title (click)="openDialog(data)">
        <p>{{data.title}}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content (click)="openDialog(data)">
      <p>{{data.description}}</p>
    </mat-card-content>

    <mat-card-actions>
      <app-icons [card]="data" class="icons" (refresh)="refreshMessage($event)"></app-icons>
    </mat-card-actions>

  </mat-card>
  
</div>