*{
    background-color: #fff;
    margin-bottom: 25px;
}

.display{
    display: flex;
    flex-wrap: wrap;
}

.changeStyle{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* flex-wrap: wrap; */
}
